@font-face {
    font-family: 'Cormorant Garamond', serif;
    src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

}

.signin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 400px;
    height: 500px;
    margin: auto;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.700);
    border: 4px double #808080;
}

.signin_container form {
    width: 100%;
}

.signin_container img {
    padding: 80px 0px 40px 0px;
    width: 70%;
}

.signin_container button {
    margin: auto;
    width: 70%;
    background-image: url('https://img.freepik.com/premium-photo/watercolor-dark-gray-background-texture-monochrome-water-color-painting_145343-126.jpg?w=360');
    color: white;
    padding: 10px;
    border: 4px double #808080;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
}

.input_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    width: 100%;
    align-content: center;
}

.input_container input {
    margin: auto;
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #808080;
    background-color: rgb(255, 255, 255, 0.1);
    font-size: 16px;
    color: rgb(189, 182, 182);
    font-size: 18px;
}

.input_container input::placeholder {
    color: whitesmoke;
    font-family: 'Cormorant Garamond', serif;
    opacity: 0.5;
}

#signup_button {
    margin-top: 60px;
}

#signup_button a {
    color: blue;
}

.signup_notice {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.line {
    border-bottom: 1px solid #808080;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}