.set_price_container {
    padding: 20px 20px 20px 20px;
    width: 100%;
    min-height: 10vh;
    border: 1px solid #B89971;
    position: relative;
    margin-bottom: 40px;
}

.title {
    padding: 0 10px 0 10px;
    position: absolute;
    font-size: 18px;
    top: -13px;
    color: #B89971;
    background-color: #1F2129;
}

.set_price {
    display: flex;
    flex-direction: row;
}

.set_price>div {
    width: 50%;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allow_offer {
    width: 100%;
    font-size: 18px;
    color: #B89971;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.onoff {
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
    height: 1.5rem;
    padding: 0 10px 0 10px;
    background-color: #363946;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction_period {
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    color: #B89971;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price {
    width: 80%;
    height: 50px;
    margin-bottom: 15px;
}

.price_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    background-color: #191C20;
}

.img_box {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_box>img {
    height: 40px;
}

.price_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_value {
    height: 30px;
    display: flex;
    align-items: end;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #B89971;
    color: #B89971;
}

.price_type {
    display: flex;
    height: 30px;
    align-items: end;
    font-size: 13px;
    width: 100px;
}

.add_price {
    width: 80%;
    display: flex;
    padding: 3px 10px 3px 10px;
    margin-top: 20px;
    justify-content: space-between;
    border: 2px dotted #B89971;
    border-radius: 5px;
    color: #B89971;
    cursor: pointer;
}